* {
  margin: 0;
  padding: 0;
}
.main-wrapper {
  display: flex;
  justify-content: space-around;
}
.current-weather {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35vw;
  color: #e7e7eb;
  background-color: #1E213A;
  background-image:  url("./assets/Cloud-Bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  gap: 50%;
  padding-top: 12px;
}
.search-data{
  color: #333; 
}
.currentWeatherCard-wrapper {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.currenWeatherCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75%;
  width: 100%;
}
.currenWeatherCard img {
  width: 202px;
  height: 234px;
}
.future-card img {
  Width:50px;
  Height:55px;
}
.date-location {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #88869D;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

span.material-symbols-outlined {
  font-size: 35px; /* Adjust the font size as needed */
}
.weather-details {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65vw;
  background-color: #100E1D;
  color: #e7e7eb;
  align-items: center;
}
.temperature-display {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 10%;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
}
.C,
.F {
  width: 35px;
  height: 35px;
  border-radius: 54px;
  background-color: #e7e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.C {
  background-color: #e7e7eb;
  color: #110e3c;
}
.F {
  background-color: #585676;
  color: #e7e7eb;
}
.future-cards {
  width: 70%;
  height: 30vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 72px;
}
.future-card {
  width: 140px;
  height: 177px;
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.today-details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70vh;
  width: 100%;
}
.today-cards h3 {
  text-align: center;
  font-family: "Raleway" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.today-cards p {
  font-family: "Raleway" sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.today-details .hightlight {
  width: 70%;
  margin: 0 auto;
}
.today-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  height: auto;
  gap: 50px;
  margin: 0 auto;
  align-content: space-between;
}
.today-feature {
  width: 328px;
  height: 204px;
  background-color: #1e213a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
#visibility,
#air {
  height: 159px;
}
.footer {
  margin-bottom: 25px;
}
