* {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
  justify-content: space-around;
}
.current-weather-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 35vw;
  color: #e7e7eb;
  background-color: #1e213a;
  background-image: url("./assets/Cloud-Bg.png");
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Raleway" sans-serif;
}
.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 100%;
  gap: 50%;
  padding-top: 12px;
}
.search-bar {
  width: 200px;
  height: 40px;
  text-align: center;
  color: #606075;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}
.current-weather-display {
  display: flex;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.current-weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 75%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}
.current-temperature {
  color: #e7e7eb;
  font-size: 141px;
}
.current-weather-condition {
  text-align: center;
  font-size: 36px;
  color: #a09fb1;
  font-weight: 600;
  line-height: normal;
}
.current-temperature span {
  font-size: 48px;
  font-weight: 500;
  line-height: normal;
  color: #a09fb1;
}
.current-weather-card img {
  width: 150px;
  height: 150px;
}
.current-date-container {
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #88869d;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
}
.date {
  font-weight: 500;
  line-height: normal;
}
.material-symbols-outlined {
  font-size: 40px;
  margin-right: 6px;
  vertical-align: middle;

}
.current-location {
  font-weight: 600;
  line-height: normal;
}

/*End of current-weather-container*/

.weather-detail-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 65vw;
  background-color: #100e1d;
  color: #e7e7eb;
  align-items: center;
}
/*Start of toogle container*/
.toogle-container {
  display: flex;
  justify-content: flex-end;
  width: 70%;
  height: 10%;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  margin-bottom: 1rem;
}
.C,
.F {
  width: 35px;
  height: 35px;
  border-radius: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.C {
  background-color: #e7e7eb;
  color: #110e3c;
}
.F {
  background-color: #585676;
  color: #e7e7eb;
}
.F:hover,
.C:hover {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
/*Start of future-card-container */
.future-card-container {
  width: 70%;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 72px;
}
.future-card {
  width: 140px;
  height: 177px;
  background-color: #1e213a;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Raleway", sans-serif;
  color: #e7e7eb;
}
.future-date {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.future-card img {
  width: 50px;
  height: 55px;
}
.temperature-range {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.temperature-range span:nth-child(2) {
  color: #a09fb1;
}
/*Start of hightlight container*/
.hightlight-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 70vh;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.hightlight-container h2 {
  width: 70%;
  margin: 0 auto;
  color: #e7e7eb;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  height: auto;
  gap: 50px;
  margin: 0 auto;
  align-content: space-between;
}
.feature-box {
  width: 328px;
  height: 204px;
  background-color: #1e213a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.feature-box h3 {
  text-align: center;
  font-size: 16px;
}
.feature-box p {
  font-size: 64px;
  font-weight: 700;
}
.feature-unit {
  color: #e7e7eb;
  font-size: 36px;
}
#wind-direction {
  font-size: 18px;
}
#wind-arrow {
  font-size: 24px;
  margin-right: 10px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  padding: 5px;
  background-color: #88869d;
  color: #e7e7eb;
}
.N {
  transform: rotate(0deg);
}

.NNE {
  transform: rotate(22.5deg);
}

.NE {
  transform: rotate(45deg);
}

.ENE {
  transform: rotate(67.5deg);
}

.E {
  transform: rotate(90deg);
}

.ESE {
  transform: rotate(112.5deg);
}

.SE {
  transform: rotate(135deg);
}

.SSE {
  transform: rotate(157.5deg);
}

.S {
  transform: rotate(180deg);
}

.SSW {
  transform: rotate(202.5deg);
}

.SW {
  transform: rotate(225deg);
}

.WSW {
  transform: rotate(247.5deg);
}

.W {
  transform: rotate(270deg);
}

.WNW {
  transform: rotate(292.5deg);
}

.NW {
  transform: rotate(315deg);
}

.NNW {
  transform: rotate(337.5deg);
}
.humidity-container {
  display: flex;
  flex-direction: column;
}
.humidity-labels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 4px;
}
.humidity-bar {
  width: 185px;
  height: 8px;
  background-color: #e7e7eb;
  border-radius: 80px;
}
.humidity-filled {
  height: 100%;
  background-color: #ffec65;
  border-radius: 80px;
}
#feel-like,
#air-pressure {
  height: 159px;
}
.footer {
  margin-bottom: 25px;
  color: #a09fb1;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
